<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>85304338612-kv195bbi8rvv2n3tdmahhobbfebmhum9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.85304338612-kv195bbi8rvv2n3tdmahhobbfebmhum9</string>
	<key>API_KEY</key>
	<string>AIzaSyBmfUK6mov4A67lCi-VSr3uuct5W2hCndY</string>
	<key>GCM_SENDER_ID</key>
	<string>85304338612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>abhilash.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-176e6</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-176e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:85304338612:ios:82b95823edd5d39e114fe1</string>
</dict>
</plist>